@import "./_general"

.plans
  background-color: nth($background-color,1)
  padding-top: 5px
.plansOferts
  max-width: 557px
  height: 472px
  

.title
  @include displays()
  font-size: 15px
  gap: 10px
  padding: 20px 20px
  color: nth($text-color,1)
  text-align: center
  background-color: nth($background-color,5)
  border-radius: 40px
  margin: 60px 40px

.fa-wifi
  font-size: 20px


  